/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

#define DEFAULT 0
#define BLUE 1
#define RED 2
#define GAME 3
#define GAME_PLUS 4
#define GAME_CHAT 5
#define SYSTEM 6

/ {
	macros {
		tchat: tchat {
			label = "ZM_t_chat";
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings = <&macro_press &to GAME_CHAT &kp T>;
		};

		ychat: ychat {
			label = "ZM_y_chat";
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings = <&macro_press &to GAME_CHAT &kp Y>;
		};

		uchat: uchat {
			label = "ZM_u_chat";
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings = <&macro_press &to GAME_CHAT &kp U>;
		};

		gameret: gameret {
			label = "ZM_u_chat";
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings = <&macro_press &to GAME &kp RET>;
		};

		gameesc: gameesc {
			label = "ZM_u_chat";
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings = <&macro_press &to GAME &kp ESC>;
		};
	};


	keymap {
		compatible = "zmk,keymap";

		default_layer {
			bindings = <
	&kp TAB  &kp SEMI &kp COMMA &kp DOT &kp P &kp Y                                                &kp F     &kp G    &kp C     &kp R &kp L &kp BSPC
	&kp ESC  &kp A    &kp O     &kp E   &kp U &kp I                                                &kp D     &kp H    &kp T     &kp N &kp S &kp RET
	&kp LBKT &kp SQ   &kp Q     &kp J   &kp K &kp X &kp LMETA &kp LALT         &kp K_APP &kp RMETA &kp B     &kp M    &kp W     &kp V &kp Z &kp SQT
	                  &mo SYSTEM &mo RED &kp SPACE &kp LSHIFT &kp LCTRL        &kp RCTRL &kp RSHIFT &kp SPACE &mo BLUE &mo SYSTEM
			>;
		};

		blue {
			bindings = <
	&kp GRAVE  &kp STAR  &kp EQUAL  &kp PERCENT &kp EQUAL &kp AMPS                                      &kp INS &kp HOME  &kp PG_DN &kp PG_UP &kp END   &kp DEL
	&trans     &kp RPAR  &kp LBKT   &kp RBKT    &kp LPAR  &kp PLUS                                      &kp H   &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT &trans
	&kp DOLLAR &kp EXCL  &kp HASH   &kp FSLH    &kp CARET &kp BSLH &trans &trans          &trans &trans &trans  &kp FSLH  &kp AT    &kp BSLH  &kp MINUS &trans
	                                   &trans   &trans    &trans   &trans &trans          &trans &trans &trans  &trans    &trans
			>;
		};

		red {
			bindings = <
	&trans &kp F1 &kp F2  &kp F3  &kp F4  &trans                                          &trans &kp KP_N7  &kp KP_N8 &kp KP_N9 &kp KP_MINUS &trans
	&trans &kp F5 &kp F6  &kp F7  &kp F8  &trans                                          &trans &kp KP_N4  &kp KP_N5 &kp KP_N6 &kp KP_PLUS  &kp KP_ENTER
	&trans &kp F9 &kp F10 &kp F11 &kp F12 &trans &trans &trans        &trans &trans &trans &kp KP_N1  &kp KP_N2 &kp KP_N3 &kp KP_SLASH &trans
	                      &trans  &trans  &trans &trans &trans        &trans &trans &kp KP_N0 &kp KP_DOT &trans
			>;
		};

		game {
			bindings = <
	&trans &trans &trans &tchat &ychat &uchat                                    &kp R  &kp Q  &trans &trans &kp E &kp TAB
	&trans &trans &trans &trans &trans &trans                                    &kp F  &kp A  &kp W  &kp S  &kp D &trans
	&trans &trans &trans &trans &trans &trans &trans &trans     &trans &kp LALT  &kp B  &kp V  &kp C  &kp X  &kp Z &trans
	                     &trans &trans &trans &trans &trans    &kp LCTRL &kp LSHIFT &kp SPACE &mo GAME_PLUS &trans
			>;
		};

		game_plus {
			bindings = <
	&trans &trans &trans &trans &trans &trans                                    &kp N5 &kp N4 &kp N3 &kp N2 &kp N1 &kp GRAVE
	&trans &trans &trans &trans &trans &trans                                    &kp G  &trans &trans &trans &trans &trans
	&trans &trans &trans &trans &trans &trans &trans &trans        &trans &trans &trans &trans &trans &trans &trans &trans
	                     &trans &trans &trans &trans &trans        &trans &trans &trans &trans &trans
			>;
		};

		game_chat {
			bindings = <
	&trans   &trans &trans &trans &trans &trans                                    &trans &trans &trans &trans &trans &trans
	&gameesc &trans &trans &trans &trans &trans                                    &trans &trans &trans &trans &trans &gameret
	&trans   &trans &trans &trans &trans &trans &trans &trans        &trans &trans &trans &trans &trans &trans &trans &trans
	                       &trans &trans &trans &trans &trans        &trans &trans &trans &trans &trans
			>;
		};

		system {
			bindings = <
	&out OUT_TOG &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4                                    &kp KP_NLCK  &rgb_ug RGB_EFR  &trans          &trans          &rgb_ug RGB_EFF &trans
	&bt BT_CLR   &to DEFAULT  &to GAME     &trans       &trans       &trans                                          &trans       &rgb_ug RGB_HUD  &rgb_ug RGB_BRD &rgb_ug RGB_BRI &rgb_ug RGB_HUI &rgb_ug RGB_TOG
	&trans       &trans       &trans       &trans       &trans       &trans       &trans &trans        &trans &trans &trans       &rgb_ug RGB_SAD  &rgb_ug RGB_SPD &rgb_ug RGB_SPI &rgb_ug RGB_SAI &trans
	                                       &trans       &trans       &trans       &trans &trans        &trans &trans &trans       &trans &trans
			>;
		};
	};

	/*
		layer_name {
			bindings = <
	&trans &trans &trans &trans &trans &trans                                    &trans &trans &trans &trans &trans &trans
	&trans &trans &trans &trans &trans &trans                                    &trans &trans &trans &trans &trans &trans
	&trans &trans &trans &trans &trans &trans &trans &trans        &trans &trans &trans &trans &trans &trans &trans &trans
	                     &trans &trans &trans &trans &trans        &trans &trans &trans &trans &trans
			>;
		};

	*/
};
